
input.btn{
    border: 0;
    padding: 1em 3em;
    display: block;
    background: #a5f883;
    margin-bottom: 1em;
    color:#003A61;
    cursor: pointer;
}
.life-container{
    background: #3fa0e1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-columns: 50% auto;

}
.col{
    padding: 4em 1.3em;
}
.color-dark{
    background: #2885c4;
}.color-light{
    background: #57b3f1;
}
input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}